body {
    font-family: Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

nav > ul {
    background-color: lightgray;
    align-items: center;
    width: 100vw;
    height: 4em;
    margin-top: 0;
}
ul {
    display: flex;
    list-style: none;
}

section ul {
    flex-direction: column;
}

ul li {
    margin: 0 1em;
}

ul li a,
ul li a:visited {
    color: black;
    text-decoration: none;
}

ul li a {
    background: linear-gradient(to right, blue 0%, transparent 5px);
    background-repeat: repeat-x;
    background-size: 100%;
    color: #000;
    padding-left: 10px;
    text-decoration: none;
}

ul li a:hover {
    background: linear-gradient(to right, blue 0%, lightblue 5px,transparent);
}

section {
    width: 70vw;
}